
introduction-to-pytorch-udacity/.ipynb_checkpoints/Part 1 - Tensors in PyTorch (Exercises)-checkpoint.ipynb
introduction-to-pytorch-udacity/.ipynb_checkpoints/Part 1 - Tensors in PyTorch (Solution)-checkpoint.ipynb
introduction-to-pytorch-udacity/.ipynb_checkpoints/Part 2 - Neural Networks in PyTorch (Exercises)-checkpoint.ipynb
introduction-to-pytorch-udacity/.ipynb_checkpoints/Part 2 - Neural Networks in PyTorch (Solution)-checkpoint.ipynb
introduction-to-pytorch-udacity/.ipynb_checkpoints/Part 3 - Training Neural Networks (Exercises)-checkpoint.ipynb
introduction-to-pytorch-udacity/.ipynb_checkpoints/Part 3 - Training Neural Networks (Solution)-checkpoint.ipynb
introduction-to-pytorch-udacity/.ipynb_checkpoints/Part 4 - Fashion-MNIST (Exercises)-checkpoint.ipynb
introduction-to-pytorch-udacity/.ipynb_checkpoints/Part 4 - Fashion-MNIST (Solution)-checkpoint.ipynb
introduction-to-pytorch-udacity/.ipynb_checkpoints/Part 5 - Inference and Validation (Exercises)-checkpoint.ipynb
introduction-to-pytorch-udacity/.ipynb_checkpoints/Part 5 - Inference and Validation (Solution)-checkpoint.ipynb
introduction-to-pytorch-udacity/.ipynb_checkpoints/Part 6 - Saving and Loading Models-checkpoint.ipynb
introduction-to-pytorch-udacity/.ipynb_checkpoints/Part 7 - Loading Image Data (Exercises)-checkpoint.ipynb
introduction-to-pytorch-udacity/.ipynb_checkpoints/Part 7 - Loading Image Data (Solution)-checkpoint.ipynb
introduction-to-pytorch-udacity/.ipynb_checkpoints/Part 8 - Transfer Learning (Exercises)-checkpoint.ipynb
introduction-to-pytorch-udacity/.ipynb_checkpoints/Part 8 - Transfer Learning (Solution)-checkpoint.ipynb
introduction-to-pytorch-udacity/__pycache__/helper.cpython-37.pyc
